body {
    margin: 0px;
    padding:0px;
    overflow: hidden auto;
    
    color: #3F0082;

    --col-accent0: #FFE0CA;
    --col-accent1: #C7A1D7;

    --col-primary0: #3F0082;
    --col-secondary0: #FFF6EA;

    --border-rad: .65rem;

    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

    caret-color: transparent;
}


/* GENERIC */
button {
    border: hidden;
    border-radius: .325rem;
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
}
.fontstyle0 {
    font-family: 'Quicksand', sans-serif;
}
.fontstyle1 {
    font-family: 'Radio Canada Big', sans-serif;
}
.separator {
    margin: .45rem 0px .75rem;
    padding: 0px;
    background-color: color-mix(in srgb, var(--col-accent1) 35%, transparent);
    width: 100%;
    height: 2px;
}
.whole-page-bg {
    position: fixed;
    background: linear-gradient(135deg, var(--col-accent0), var(--col-accent1));
    width: 100%;
    height: 100%;
    z-index: -999;
}



/* HEADER */
header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 1.125rem 2rem;
    color: var(--col-accent1);
    background-color: color-mix(in srgb, var(--col-secondary0) 35%, transparent);
    box-shadow: 12px 12px 30px color-mix(in srgb, var(--col-accent1) 35%, transparent);
    font-size: 1.325rem;
}
header > h1 {
    margin: 0px;
    letter-spacing: 3.5%;
    font-weight: 600;
}
header > h1 > span {
    letter-spacing: 5%;
    font-weight: 550;
}






/* MAIN */
main {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1.325rem;
    justify-content: center;
    gap: 1.25rem;
}
.left-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    min-width: 30rem;
}






/* ADD BOOK FORM */
.bookForm-wrapper {
    padding: 1rem 1.25rem;
    background-color: color-mix(in srgb, var(--col-secondary0) 35%, transparent);
    border-radius: var(--border-rad);
}
.bookForm-wrapper > h2 {
    margin: 0px;
    letter-spacing: 7.5%;
    font-size: 1.5rem;
    font-weight: 600;
}
.bookForm-wrapper > h3 {
    margin: 0px;
    letter-spacing: 2%;
    font-size: 1rem;
    font-weight: 100;
}

#bookForm {
    position: relative;
    width: 100%;
}
#bookForm > .form-group + .form-group {
    margin-top: .25rem;
}
#bookForm > .form-group > label {
    margin: 0px;
    font-weight: 400;
    font-size: .95rem;
    letter-spacing: 2.5%;
}
#bookForm > .form-group > label > .required-indic {
    font-weight: 200;
    color : var(--col-accent1);
}
#bookForm > .form-group > .keyboard-input {
    margin: 0px;
    padding: 0px .5rem;
    box-sizing: border-box;
    height: 1.75rem;
    width: calc(100%);
    translate: 0px -1px;
    color: var(--col-accent1);
    background-color: var(--col-secondary0);
    border-radius: .25rem;
    border: none;
}
#bookForm > .form-group > .keyboard-input:focus-visible {
    outline: none;
    border: 1px var(--col-accent1) solid;
    caret-color: var(--col-accent1);
}
#bookForm > .form-group > input[type="checkbox"] {
    padding: .75rem .75rem;
    scale: 1.25;
    opacity: .5;
}
#bookForm > .form-group > input[type="checkbox"]:checked {
    accent-color: var(--col-primary0);
    opacity: .275;
}
#bookForm > #bookFormSubmit {
    position: absolute;
    padding: .25rem .5rem;
    right: 0;
    bottom: -.15rem;
    color: var(--col-accent1);
    background-color: color-mix(in srgb, var(--col-secondary0) 50%, transparent);
    text-decoration: underline;
    font-size: .85rem;
    font-weight: 450;
    letter-spacing: 2%;
    transition: scale 75ms ease-in, color 100ms ease-in, background-color 100ms ease-in;
}
#bookForm > #bookFormSubmit > img {
    width: .625rem;
    margin-inline-end: .325rem;
    pointer-events: none;
}
#bookForm > #bookFormSubmit:hover {
    scale: 1.025;
    color: var(--col-primary0);
}
#bookForm > #bookFormSubmit:hover > img {
    content: url("assets/add-book-hover.svg");
}
#bookForm > #bookFormSubmit:active {
    scale: .985;
    color: var(--col-secondary0);
    background-color: var(--col-accent1);
    transition: color 10ms ease-in, background-color 20ms ease-in;
}
#bookForm > #bookFormSubmit:active > img {
    content: url("assets/add-book-active.svg");
}
#bookForm > #bookFormSubmit:disabled {
    scale: 0.95;
    color: color-mix(in srgb, var(--col-accent1) 45%, transparent);
    background-color: color-mix(in srgb, var(--col-secondary0) 50%, transparent);
}
#bookForm > #bookFormSubmit:disabled > img {
    content: url("assets/add-book.svg");
}






/* BOOKSHELF */
#bookshelf {
    position: relative;
    padding: 1.25rem;
    background-color: color-mix(in srgb, var(--col-secondary0) 35%, transparent);
    border-radius: var(--border-rad);
    min-width: 32rem;
    max-width: 40rem;
}

#searchBook {
    position: relative;
    height: 2.5rem;
    display:flex;
    flex-flow: row nowrap;
    gap: .5rem;
}
#searchBook > #searchSubmit {
    position: relative;
    padding: .5rem .625rem .3rem;
    background-color: var(--col-secondary0);
    box-shadow: 5px 5px 25px color-mix(in srgb, var(--col-accent1) 25%, transparent);
    pointer-events: visible;
    transition: background-color 200ms ease-in, scale 100ms ease-out;
}
#searchBook > #searchSubmit:hover {
    transition: background-color 10ms ease-in;
    background-color: color-mix(in srgb, var(--col-accent1) 50%, transparent);
}
#searchBook > #searchSubmit:active {
    scale: .9;
}
#searchBook > #searchSubmit > img {
    width: 1.325rem;
    pointer-events: none;
}
#searchBook > #searchSubmit:hover > img {
    content: url("assets/search-book-hover.svg");
}
#searchBook > input {
    padding-left: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: var(--col-accent1);
    background-color: var(--col-secondary0);
    border: none;
    border-radius: .35rem;
    box-shadow: 5px 5px 25px color-mix(in srgb, var(--col-accent1) 25%, transparent);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 2.5%;
}
#searchBook > input::placeholder {
    color: color-mix(in srgb, var(--col-accent1) 50%, transparent);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 2%;
}
#searchBook > input:focus-visible {
    outline: none;
    border: 1px var(--col-accent1) solid;
    caret-color: var(--col-accent1);
}


#incompleteBookList {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0px 0px;
    padding-right: .5rem;
    gap: 1rem;
    max-height: 23.5rem;
    border-radius: .35rem;
    overflow-y: auto;
}

#incompleteBookList > .book-item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
    gap: .5rem;
    margin: 0px;
    border-radius: .35rem;
    background-color: color-mix(in srgb, var(--col-secondary0) 50%, transparent);
    z-index: 0;
}

.book-info-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem .5rem 1rem 1rem;
    gap: .5rem;
}
.book-info-wrapper > .book-title {
    margin: 0;
    padding: 1.5rem .5rem;
    box-sizing: border-box;
    border: transparent 1px solid;
    border-radius: .25rem;
    outline: none;
    height: 1.75rem;
    width: calc(100%);
    margin: 0px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4.5%;
    color: var(--col-primary0);
    caret-color: var(--col-accent1);
    background-color: color-mix(in srgb, var(--col-secondary0) 75%, transparent);
}
.book-info-wrapper > .book-title:focus-visible {
    box-sizing: border-box;
    border: var(--col-accent1) 1px solid;
}
.book-info-wrapper > .book-unsaved {
    margin: 0px;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 10%;
    color: var(--col-accent1);
}
.book-info-wrapper > .book-unsaved > strong {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: 700;
}
.book-info-wrapper > .book-descriptor {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: stretch;
    color: var(--col-accent1);
}
.book-descriptor > input {
    margin: 0px;
    padding: .125rem .5rem;
    box-sizing: border-box;
    border: transparent 1px solid;
    border-radius: .25rem;
    outline: none;
    width: 100%;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 7.5%;
    color: var(--col-primary0);
    caret-color: var(--col-accent1);
    background-color: color-mix(in srgb, var(--col-secondary0) 75%, transparent);
}
.book-descriptor > input:focus-visible {
    box-sizing: border-box;
    border: var(--col-accent1) 1px solid;
}

.book-item > .book-option-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: var(--col-accent1);
    border-radius: 0 .35rem .35rem 0;
    padding: .5rem;
    gap: .125rem;
}
.book-option-wrapper > button {
    background-color: transparent;
    transition: background-color 50ms ease-out, scale 75ms ease-in;
    padding: .25rem .25rem;
}
.book-option-wrapper > button:hover {
    background-color: color-mix(in srgb, var(--col-accent0) 45%, transparent);
}
.book-option-wrapper > button:active {
    background-color: color-mix(in srgb, var(--col-accent0) 75%, transparent);
    scale: 1.075;
}
.book-option-wrapper > button:disabled {
    scale: .95;
    background-color: transparent;
}
.book-option-wrapper > button:disabled > img {
    opacity: 0.45;
}
.book-option-wrapper > button > img {
    width: 1rem;
    pointer-events: none;
}

#completeBookList {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 1rem 0px 0px;
    padding-right: .5rem;
    max-height: 23.5rem;
    border-radius: .35rem;
    overflow-y: auto;
}

#completeBookList > .book-item {
    position: relative;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    width: fit-content;
    border-radius: .35rem;
    background-color: color-mix(in srgb, var(--col-accent1) 50%, transparent);
    z-index: 0;
}

#completeBookList > .book-item > .book-info-wrapper > .book-descriptor {
    color: var(--col-accent0);
}
#completeBookList > .book-item > .book-info-wrapper input:focus-visible {
    border: var(--col-primary0) 1px solid;
}
#completeBookList > .book-item > .book-info-wrapper > .book-unsaved {
    color: var(--col-secondary0);
}

#completeBookList > .book-item > .book-option-wrapper {
    background-color: var(--col-accent0);
}
#completeBookList > .book-item > .book-option-wrapper > button {
    background-color: transparent;
}
#completeBookList > .book-item > .book-option-wrapper > button:hover {
    background-color: color-mix(in srgb, var(--col-accent1) 20%, transparent);
}
#completeBookList > .book-item > .book-option-wrapper > button:active {
    background-color: color-mix(in srgb, var(--col-accent1) 40%, transparent);
}
#completeBookList > .book-item > .book-option-wrapper > button:disabled {
    background-color: transparent;
}
#completeBookList > .book-item > .book-option-wrapper > button:disabled > img {
    opacity: 0.3;
}

#toggleBookList {
    position: absolute;
    bottom: 1.25rem;
    height: 2rem;
    width: calc(100% - 1.25rem * 2);
    opacity: .65;
    font-size: 1rem;
    color: var(--col-secondary0);
    background-color: var(--col-accent1);
    transition: scale 50ms ease-out, opacity 75ms ease-in;
}
#toggleBookList:hover {
    opacity: 1;
    scale: 1.015;
}
#toggleBookList:active {
    scale: .99;
}
#toggleBookList > em {
    font-style: normal;
    text-decoration: underline;
    letter-spacing: 3.5%;
    pointer-events: none;
}
#toggleBookList > img {
    width: .45rem;
    margin-inline-end: .5rem;
    pointer-events: none;
}





/* FOOTER */
footer {
    padding: 1.25rem;
    background-color: color-mix(in srgb, var(--col-secondary0) 35%, transparent);
    border-radius: var(--border-rad);
}
footer > h1 {
    margin: 0px;
    letter-spacing: 7.5%;
    font-size: 1.5rem;
    font-weight: 600;
}
footer > .status {
    margin: .25rem 0px 0px 2rem;
    letter-spacing: 3%;
    font-size: 1rem;
    font-weight: 300;
}
footer > .status > .status-emphasis { 
    font-size: 1.25rem;
    font-weight: 600;
}
footer > .copyright {
    margin: 1.125rem 0px 0px;
    letter-spacing: 10%;
    font-size: .75rem;
    font-weight: 300;
    text-align: right;
    width: 100%;
}




